@using LifLk.Models
@using Microsoft.AspNet.Identity
@model LifLk.Models.account
@{
    ViewBag.Title = "Free Horizon - магазин игровых предметов";
}

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <text>Добро пожаловать, @User.Identity.GetUserName()</text>
        <br/>
        <text>Выберите персонажа:</text>
        <br/>
        foreach (character ch in Model.character)
        {
            @Html.ActionLink(string.Format("{0} {1}", ch.Name, ch.LastName), "Index", "Character", new { id = ch.ID }, null)
            <br/>
        }
        <br/>
        <text>Перед входом в личный кабинет, убедитесь, что Ваш персонаж отключен от сервера</text>
        }
    else
    {<text>Перед входом убедитесь, что у Вас есть персонаж на сервере.</text>
        <br/>
        
    }
</div>