@using LifLk.Models
@using Microsoft.AspNet.Identity
@model LifLk.Models.account
@{
    ViewBag.Title = "Free Horizon - магазин игровых предметов";
}

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <text>Добро пожаловать, @User.Identity.GetUserName()</text>
        <br/>
        <text>Ваши персонажи:</text>
        <br/>
        foreach (character ch in Model.character)
        {
            @Html.ActionLink(string.Format("{0} {1}", ch.Name, ch.LastName), "Index", "Character", new { id = ch.ID }, null)
            <br/>
        }
        <br/>
        <text>Нажмите на одного из них, что бы посмотреть подробную информацию или воспользоваться ГМ шопом.</text>
        <br/>
        <text>Что бы продать какой либо придмет в ГМ шоп, нажмите на него в инвентаре. Далее укажите кол-во и нажмите "Продать". Если поле с количеством горит красным, значит вы ввели некорректное значение.</text>
        <br/>
        <text>Что бы купить какой либо предмет, нажмите на кнопку "Магазин" и далее щёлкните на желаемый предмет. Откроется окно, в котором нужно указать желаемое качество и кол-во. Указанная сумма должна находится у вас в инвентаре. Возможен эквивалент.</text>
        <br/>
        <b>Важно! </b><text>Пользоваться услугами ГМ шопа можно только тогда, <b>когда персонаж не в сети!</b></text>
    }
    else
    {<text>Что бы воспользоваться Личным кабинетом, Вам надо войти под своим логином, нажав на кнопку сверху.</text>
        <br/>
        <b>Важно! </b><text>Перед тем, как войти в Личный кабинет, Вы должны хотя бы один раз войти на сервер под каким-либо персонажем!</text>
    }
</div>