body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.items-inventory
{
  width:500px;
    max-height: 700px;
    overflow: auto;
}
.items-equip {
    width:900px;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.items-inventory div
{
    width: 50px;
    height: 50px;
    float: left;
    overflow: auto;
}
.items-equip div
{
    
    overflow: hidden;
}
.item-1
{
    position: absolute;
    top: 3px;
    left: 81px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-2
{
    position: absolute;
    top: 182px;
    left: 99px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-3
{
    position: absolute;
    top: 249px;
    left: 16px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-4
{
    position: absolute;
    top: 108px;
    left: 20px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-5
{
    position: absolute;
    top: 395px;
    left: 130px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-6
{
    position: absolute;
    top: 478px;
    left: 61px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-7
{
    position: absolute;
    top: 388px;
    left: 79px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    z-index: 100;
}
.item-8
{
    position: absolute;
    top: 348px;
    left: 124px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    z-index: 100;
}
.item-9
{
    position: absolute;
    top: 112px;
    left: 178px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    z-index: 100;
}
.item-10 {
    position: absolute;
    top: 196px;
    left: 649px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-11
{
    position: absolute;
    top: 202px;
    left: 520px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-12
{
    position: absolute;
    top: 65px;
    left: 643px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.item-13
{
    position: absolute;
    top: 63px;
    left: 537px;
    width: 100%;
    height: 100%;
    max-width: 128px;
    max-height: 128px;
}
.items-inventory div img {
   height: 100%;
   /*width: 100%;*/
}
.items-equip div img {
   height: 100%;
   /*width: 100%;*/
}